<ul class="" id="menusuperior">
    <li><a href="/home">Home</a></li>
    <li>
        <a href="/categorias">Categorias <i class="bi bi-caret-down"></i></a>
        <ul class="drop">
            <li><a href="/categorias">Listar Categorias</a></li>
            <li><a href="/cadastrar-categoria">Cadastrar Categorias</a></li>            
        </ul>
    </li>
    <li>
        <a href="/produtos">Produtos <i class="bi bi-caret-down"></i></a>
        <ul class="drop">
            <li><a href="/produtos">Meus Produtos</a></li>
            <li><a href="/cadastrar-produto">Cadastrar Produto</a></li>            
        </ul>

    </li>
    <li>
        <a href="/listas">Listas <i class="bi bi-caret-down"></i></a>
        <ul class="drop">
            <li><a href="/listas">Minhas Listas</a></li>
            <li><a href="/cadastrar-lista">Cadastrar Lista</a></li>
            <li><a href="/adicionar-item">Adicionar item</a></li>
            <li><a href="/editar-lista">Editar Lista</a></li>
            <li><a href="/excluir-lista">Excluir Lista</a></li>
        </ul>

    </li>
    <li><a href="/">Sair</a></li>
</ul>